<button (click)="increment()" class="fz-60 p-50 m-20 green white rounded">
  + 1
</button>
<button
  (click)="decrement()"
  [disabled]="cannotDecrement$ | async"
  class="fz-60 p-50 m-20 blue white rounded"
>
  - 1
</button>
<button
  (click)="clear()"
  [disabled]="cannotDecrement$ | async"
  class="fz-60 p-50 m-20 purple white rounded"
>
  = 0
</button>
<p class="fz-60">Counter = {{ count$ | async }}</p>
<ng-container *ngIf="updatedAt$ | async">
  <p class="fz-60">
    Update data = {{ updatedAt$ | async | date: 'HH:mm:ss dd/MM/yyyy' }}
  </p>
</ng-container>
